<header>
<img src="/icons/UTS_Logo.png" alt="UTS Logo" height="36" width="85">
<f>Stationary Management System</f>
</header>

<nav class="navbar  mb-5">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<a href="/librarian/stationary">View Catalogue</a>
<a href="/librarian/stationery/new">Add Item</a>
<a href="/librarian/stationery/edit">Edit Item</a>
<a href="/librarian/stationery/destroy">Remove Item</a>
</nav>
