<% include ../partials/header.ejs %>
	<header>
		<img src="UTS_Logo.png" alt="UTS Logo" height="36" width="85">
		<f>Stationary Management System</f>
	</header>

	<nav>
    <a href="/librarian/stationary">View Catalogue</a>
    <a href="/librarian/stationery/new">Add Item</a>
    <a href="/librarian/stationery/edit">Edit Item</a>
    <a href="/librarian/stationery/destroy">Remove Item</a>
  </nav>

	<h1>Stationary Catalogue</h1>


<% include ../partials/footer %>
